@charset "utf-8";

@layer palette {
  :root {
      --palette-light: #ffffff;
      --palette-dark: #111827;
      --palette-contrast-light: var(--palette-light);
      --palette-contrast-dark: var(--palette-dark);
      --palette-status-negative: #b3261e;
      --palette-status-positive: #287a3c;
      --palette-status-neutral: #64748b;

      --palette-primary-light-mix: #ff3000;
      --palette-primary-dark-mix: #070000;
      --palette-primary-500: #ba0a00;
      --palette-primary-surface-saturation: 0;
      --palette-secondary-500: #806000;
      --palette-neutral-500: #a87570;
  }
}
