@charset "utf-8";

@layer palette {
  :root {
      --palette-light: #ffffff;
      --palette-dark: #111827;
      --palette-contrast-light: var(--palette-light);
      --palette-contrast-dark: var(--palette-dark);
      --palette-status-negative: #b3261e;
      --palette-status-positive: #287a3c;
      --palette-status-neutral: #64748b;

      --palette-primary-light-mix: #ffef00;
      --palette-primary-dark-mix: #b85f00;
      --palette-primary-500: #fbbc00;
      --palette-primary-surface-saturation: .5;
      --palette-secondary-500: #1769aa;
      --palette-neutral-500: #b29b02;
  }
}
